@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* CUSTOM FONT */
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?c1uvq1');
  src:  url('fonts/icomoon.eot?c1uvq1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?c1uvq1') format('truetype'),
    url('fonts/icomoon.woff?c1uvq1') format('woff'),
    url('fonts/icomoon.svg?c1uvq1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email .path1:before {
  content: "\e907";
  color: rgb(17, 16, 31);
}
.icon-email .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-email .path3:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-email .path4:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-email .path5:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-email .path6:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-email .path7:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-email .path8:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-github .path1:before {
  content: "\e911";
  color: rgb(17, 16, 31);
}
.icon-github .path2:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-position .path1:before {
  content: "\e900";
  color: rgb(17, 16, 31);
}
.icon-position .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-position .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-linkdn .path1:before {
  content: "\e903";
  color: rgb(17, 16, 31);
}
.icon-linkdn .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-linkdn .path3:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-linkdn .path4:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-phone .path1:before {
  content: "\e909";
  color: rgb(17, 16, 31);
}
.icon-phone .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-half:before {
  content: "\e9d8";
}
.icon-star-full:before {
  content: "\e9d9";
}

/* CSS */

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0px 0px 0px 0px;
}

header {
  height: 350px;
  background-color: #0c1a22;
  justify-content: end;
  display: flex;
}

#header{
  background-image: repeating-linear-gradient(to right, #0c1a22, #1f1b37, #0c1a22);
  height: 100%;
  width: calc(100vw - 370px);
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

#name{
  font-size: 7vw;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#position{
  font-size: 1.8vw;
  letter-spacing: 1vw;
  font-weight: 300;
  padding-top: 0px;
  margin-top: 0px;
}

#border{
  border-bottom: #FFF solid 1.5px;
  width: 30%;
  height: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
}

aside {
  position: absolute;
  top: 40px;
  width: 400px;
  height: 100%;
}
#aside{
  width: 360px;
  min-height: 100%;
  background-color: #3c4264;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #FFF;
  font-size: 25px;
  vertical-align: middle;
  font-weight: 300;
}

#photo_block{
  text-align: center;
}

#photo{
  width: 70%;
  margin-bottom: 20px;
}

#menu-title{
  background-color: #1d1b34;
  width: 105%;
  margin-left: -2.5%;
  color: #ac59c4;
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  letter-spacing: 1px;
  margin-bottom: 15px;
  font-weight: 400;
}

.contacts-icon {
 padding-right: 15px;
 font-size: 50px;
}

.middle{
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 10px;
  padding-left: 15px;
}

.language{
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 400;
}

.language-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.language-col{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.language-comm{
  font-size: 20px;
  font-weight: 300;
}

.font-dark {
  color: #1d1b34;
}

.caps {
  text-transform: uppercase;
}