/* Please put your name, last name, studentID number in this comment */
body {
  background-color: black;
  color: #FFF;
  font-family: 'Courier New', Courier, monospace;
  padding: 100px;
}

h1, h2, h3, h4, h5, h6 {
  color:aquamarine;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#title {
  font-size:4rem;
  font-weight:100;
}

header {
  text-align: right;
}

nav {
 background-image: url(/2/images/bg.jpg);
 background-size: 100%;
 border: #FFF solid 4px;
 border-radius: 25px;
}

ul {
  margin: 10px 10px 10px -10px;
}

a {
 color: #FFF;
 text-decoration: none;
 font-weight: bold;
 text-shadow: #000 1px 1px;
}

input, textarea {
  color: #FFF;
  background-color: #000;
  border: #FFF solid 2px;
  height: 30px;
  border-radius: 5px;
  padding-left: 40px;
  width: 90%;
}

form {
  border: #FFF dotted 2px;
  padding: 10px 10px 10px 10px;
}

label {
  font-size: large;
  font-weight: 600;
  line-height: 40px;
}

button {
  font-size: larger;
  background-image: url(/2/images/bg.jpg);
  background-position: 0%;
  background-size: auto;
  border-color: #FFF;
  border-width: 4px;
  border-style: solid;
  padding: 14px 28px;
  border-radius: 10px;
  margin-top: 10px;
  color: #FFF;
}